.branding {
  width: 50%;
 
  overflow: auto;
  display: flex;
  flex-direction: column;

  .txt-branding{
    font-size: 2em;
    font-weight: bold;
  }

  .img-branding{
    width:100%;
    height: 100%;
    object-fit: cover;
  }

  &.small {
    height: auto;
    width: auto;
    flex-direction: row;
    vertical-align: center;
   
    .txt-branding{
      margin: auto;
      font-size: 1em;
    }
  
    a{   
      .img-branding{
        width:15vh;
        height: 15vh;
        object-fit: contain;
      }
    }

    &.completed{
      .txt-branding{     
        visibility: hidden;     
      }
    }
  }


}
