.loggin {
  background-color: #f0f;

  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  vertical-align: middle;

  .loggin--input,
  .loggin--button-register{
    width: 50%;
    display: block;
    margin: 0 auto 0 auto;
  }

  .loggin--error{
    font-size: small;
    font-style: italic;
    color: red;
    padding: 0.5rem;
  }

    
    .greetings-avatar{
      height: 64px;
      width: 64px;
      border-radius: 50%; 
      margin: 3vh;
    }
    .greetings-text{


    }
  
 

  
}