.profil {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 85%;
  padding: 0 20px 0 20px;
  background: rgb(36,0,0);
  background: linear-gradient(25deg, rgba(36,0,0,1) 0%, rgba(146,146,240,0.8211659663865546) 35%, rgba(128,154,242,0.6418942577030813) 100%, rgba(0,212,255,1) 100%);


  .title {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px 0 10px 0;
  }

  button {
    margin: auto;
  }
 
}

.projectCard {
  border: black solid 2px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
  margin: 10px auto 10px auto;
  backdrop-filter: blur(9px) saturate(89%);
  -webkit-backdrop-filter: blur(4px) saturate(89%);
  background-color: rgba(255, 255, 255, 0.436);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);


  .top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  .title{
    font-size: 1.5rem;
    font-weight: bold; 
  }

  .membersList {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    .member--avatar {
      height: 50px;
      width: 50px;
      margin: 3%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: bold;
    }

    .difference {
      font-style: italic;
      font-weight: bold;
    }
  }
}