.navBar {
  position: relative;
  width: 100%;
  height: 15vh;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border: 1px solid black;

  &.isNotAuth {
      display: none;
  }

  &.homeConnected {

      p{
          visibility: hidden;
      }
      p:after {
          content:''; 
          visibility: visible;      
      }
  }

  &.completed {

      .avatar{
          height: 64px;
          width: 64px;
          border-radius: 50%; 
          margin: 3vh;
      }
  }
}