.navBar {
  position: relative;
  width: 100%;
  height: 15vh;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: flex;
  border-bottom: solid .5px;
  
  .avatar{
    height: 64px;
    width: 64px;
    border-radius: 50%; 
    margin: 3vh;   
  }
  
  .userName{
    font-size: large;
    white-space: nowrap; 
    text-overflow: ellipsis;
  }

  &.isNotAuth {
    visibility: hidden;
  }

  &.logginPage {

      .userName{
          visibility: hidden;
      }
      .userName:after {
          content:''; 
          visibility: visible;      
      }

      .avatar{
        display: none;
      }
  }

}