.members{  
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  z-index: 3;

  .header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

   .membersList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    overflow: scroll; 

    .membersList--item{
      height: 90px;
      flex: 0 0 25%;
      margin: 3%;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-weight: bold;

      &.selected {
        border: 1px solid rgb(75, 72, 72);
        box-shadow: 2px 1px 3px grey;
      }
    }
  }

  .invitation{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8rem;    
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    

    button{
      width: 70%;
      height: 40%;
    }
  }

  

}